{
  "extends": [
    "airbnb-typescript",
    "airbnb/hooks",
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "plugin:tailwindcss/recommended"
  ],
  "plugins": [
    "react",
    "@typescript-eslint",
    "import",
    "prettier",
    "tailwindcss"
  ],
  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2018,
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "rules": {
    "arrow-body-style": ["error", "as-needed"],
    "prettier/prettier": "error",
    "react/react-in-jsx-scope": "off"
  }
}
