.carousel-item {
  padding: 5px;
  height: 10rem;
  width: 7rem;
}

.carousel-item h4,
p {
  margin: 0;
}

.carousel-item p:last-child {
  opacity: 0.5;
}

.pop {
  margin: 5px;
  font-weight: 400;
  height: 20px;
}

.carousel-item i {
  margin: 15px;
  font-size: 2rem;
  font-weight: 400;
}
