/* Special styling for iOS header */
.main .header-ios {
  padding: 0 5px;
}

.main ion-toolbar {
  padding-left: 16px;
}

.main ion-title {
  padding: 0;
  text-align: left;
}

.empty-placeholder {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
}

.placeholder-icon {
  font-size: 5rem;
}

.empty-placeholder h2 {
  margin: 10px 0;
  font-weight: 700;
}

.empty-placeholder h3 {
  margin: 0;
  display: flex;
  align-items: center;
}

.empty-placeholder ion-icon {
  margin: 0 5px;
}
