/* Special styling for iOS header */
.main ion-toolbar.ios {
  padding-left: 16px;
}

.main ion-title.ios {
  padding: 0;
  text-align: left;
}

.main ion-title h5 {
  margin: 0;
  display: flex;
}

.main ion-title ion-icon {
  margin-left: 10px;
}

.empty-placeholder {
  height: 100%;
  padding-top: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0.5;
}

.placeholder-icon {
  font-size: 5rem;
}

.empty-placeholder h2 {
  margin: 10px 0;
  font-weight: 700;
}

.empty-placeholder h3 {
  margin: 0;
  display: flex;
  align-items: center;
}

.empty-placeholder ion-icon {
  margin: 0 5px;
}
