.empty-placeholder {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
}

.empty-placeholder i {
  font-size: 5rem;
}

.empty-placeholder h2 {
  margin: 10px 0;
  font-weight: 700;
}

.empty-placeholder h3 {
  margin: 0;
  display: flex;
  align-items: center;
}

.empty-placeholder ion-icon {
  margin: 0 5px;
}
