.next-week-title {
  margin-bottom: 0;
  opacity: 0.5;
}

.next-week-item h2 {
  margin: 0;
}

.next-week-item {
  display: flex;
  align-items: flex-start;
  --inner-padding-end: 0px;
}

.next-week-item.pressed {
  --min-height: 200px;
}

.next-week-item ion-label.ios:last-child,
.next-week-item ion-label.md:last-child {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.next-week-item-temps {
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.next-week-item i {
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 2rem;
}
