.next-week-title {
  font-size: 0.9rem;
  margin-bottom: 0px;
  opacity: 0.5;
}

/* Remove stupid default padding */
.next-week-item {
  display: flex;
  align-items: flex-start;
}

.next-week-item h2 {
  margin: 10px 0 5px 0;
}

.next-week-item .bottom-row {
  margin: 15px 0 0 0;
  display: none;
}

.next-week-item .bottom-row h5 {
  font-weight: 400;
}

/* Selected class */
.pressed {
  display: block !important;
}

.next-week-item-temps {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.next-week-item-temps h2 {
  margin-right: 5px;
}
.next-week-item-temps p {
  opacity: 0.5;
}
