.card {
  position: relative;
  width: 100%;
}

.card > h5 {
  font-size: 0.9rem;
  margin: 0;
  opacity: 0.5;
}

.card-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.date {
  margin: 10px 0;
}

.top-row {
  width: 100%;
  margin: 5px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.temp-title {
  margin: 0;
  font-size: 5rem;
  line-height: 5rem;
}

.temp-subtitle {
  margin: 0 0 5px 0;
  opacity: 0.7;
}

.i-row {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  position: absolute;
  top: 2rem;
}

.i-row i {
  font-size: 7rem;
  line-height: 7rem;
  opacity: 0.1;
}

.desc-icon {
  font-size: 2rem;
}

.desc-title {
  margin: 0;
  font-size: 2rem;
  line-height: 2rem;
}

.details-div h6 {
  margin-top: 5px;
}

.bottom-row {
  margin: 10px 0 5px 0;
}

.bottom-row div {
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
}

.bottom-row > div > h5:first-of-type {
  font-weight: 400;
  opacity: 0.5;
}

.bottom-row h5 {
  margin: 0;
  display: flex;
  align-items: center;
}

.bottom-row h5 > p {
  margin-left: 4px;
  opacity: 0.5;
}
