.card {
  position: relative;
  width: 100%;
}

.card > h5 {
  font-size: 0.9rem;
  margin: 0;
  opacity: 0.5;
}

.card-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.date {
  margin: 10px 0;
}

.top-row {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
}

.temp-title {
  margin: 0;
  font-size: 5rem;
  line-height: 5rem;
}

.temp-subtitle {
  margin: 0;
  opacity: 0.5;
}

.i-row {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  position: absolute;
  top: 2rem;
}

.i-row i {
  color: var(--ion-color-primary);
  font-size: 7rem;
  line-height: 7rem;
  opacity: 0.1;
}

.desc-title {
  margin: 0;
  font-size: 2rem;
  line-height: 2rem;
}

.pop-chip {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  pointer-events: none;
}

.pop-chip h5 {
  margin: 0;
}
